<header class="flex">
  <mat-toolbar>
    <mat-toolbar-row>
      <nav>
        <a mat-button class="button" routerLink="/home" routerLinkActive="activebutton">Home</a>
        <a mat-button class="button" routerLink="/creation" routerLinkActive="activebutton">Character Creation</a>
        <a mat-button class="button" routerLink="/crafting" routerLinkActive="activebutton">Ability Crafting</a>
        <a mat-button class="button" routerLink="/builds" routerLinkActive="activebutton">My Builds</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
