<mat-tab-group>
    <mat-tab label="Attributes">
      <div class="mat-elevation-z4">
        <charbuild-attribute-selector></charbuild-attribute-selector>
      </div>
    </mat-tab>
    <mat-tab label="Ancestor">
      <div class="mat-elevation-z4">
        <charbuild-ancestor-selector></charbuild-ancestor-selector>
      </div>
    </mat-tab>
    <mat-tab label="Affinity">
      <div class="mat-elevation-z4">
        Affinity
      </div>
    </mat-tab>
    <mat-tab label="Perks">
      <div class="mat-elevation-z4">
        Perks
      </div>
    </mat-tab>
    <mat-tab label="Force">
      <div class="mat-elevation-z4">
        Force
      </div>
    </mat-tab>
</mat-tab-group>